<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120625794408-om6knj74s3g63pfdjq7hk39aidru9shf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120625794408-om6knj74s3g63pfdjq7hk39aidru9shf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120625794408-qln8k1brj0q10n32ahvbl6fsr398rdpa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXii_2RQiVcUWRrjUnD_z6VaEZi8RtHc</string>
	<key>GCM_SENDER_ID</key>
	<string>120625794408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justEat</string>
	<key>PROJECT_ID</key>
	<string>justeat-326106</string>
	<key>STORAGE_BUCKET</key>
	<string>justeat-326106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120625794408:ios:952f23e11f38629bea1add</string>
	<key>DATABASE_URL</key>
	<string>https://justeat-326106-default-rtdb.firebaseio.com</string>
</dict>
</plist>